<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
      {% if page.type == "post" %}
        <title>David and Suzi | {{page.title}}</title>

        <meta property="og:title" content="{{page.title}}"/>
        {% if page.description %}
            <meta property="og:description" content="{{page.description}}"/>
        {% else %}
            <meta property="og:description" content="{{site.description}}"/>
        {% endif %}
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="http://davidandsuzi.com{{page.url}}"/>
      {% else %}
        <title>David and Suzi</title>
        <meta name="description" content="Writings from David and Suzi Chang. A story of redemption and faith.">
      {% endif %}

      <meta name="viewport" content="width=device-width">

      <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

      <!--[if lt IE 9]>
        <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
      <![endif]-->
      <link href="../styles/styles.min.css" rel="stylesheet">
    </head>
    <body>

      <div id="page-container">
        <header role="banner">
          <h1><a href="http://davidandsuzi.com"><span class="highlight">david</span> and <span class="highlight">suzi</span></a></h1>
        </header>