---
layout: default
description: Writings from David and Suzi Chang. A story of redemption and faith.
---

<div class="home">

  {{ content }}

  {% capture site_lang %}{{ site.lang | default: "en" }}{% endcapture %}

  <ul class="post-archives">
    {% for post in site.posts %}
      {% capture currentyear %}{{post.date | date: "%Y"}}{% endcapture %}
      {% if currentyear != year %}
        <h1>{{ currentyear }}</h3>
        {% capture year %}{{currentyear}}{% endcapture %}
      {% endif %}

      {% capture post_lang %}{{ post.lang | default: site_lang }}{% endcapture %}
      {% capture lang %}{% if post_lang != site_lang %}{{ post_lang }}{% endif %}{% endcapture %}

      <li>
        <h2>
          {% if post.external_url %}
            <a class="post-link" href="{{ post.external_url }}">{{ post.title | escape }}</a>
            <small>(posted on {{ post.external_site}})</small>
          {% else %}
            <a class="post-link" href="{{ post.url | relative_url }}"{% if lang != empty %} lang="{{ lang }}"{% endif %}>
              {{ post.title | escape }}
            </a>
          {% endif %}
        </h2>
      </li>
    {% endfor %}
  </ul>

</div>
